

 .container {
  width:80%;
  margin: 0 auto;
}

header {
  background: white ;
}

header::after {
 content:'';
 display: table;
 clear: both
}

.logo {
 float: left;
 padding: 10px 0;
}

nav {
 float: right;
}

nav ul{
 margin: 0;
 padding: 0;
 list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;
  padding-bottom: 25px;

  position: relative;
}

nav a {
  color: rgba(50, 49, 49, 0.906);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
} 

nav a:hover {
  color: rgb(5, 5, 5);
}

nav a::before {
  content: '';
   display: block;
   height: 5px;
   background-color: rgb(5, 5, 5);

   position: absolute;
   top: 0;
   width: 0%;

   transition: all ease-in-out 250ms;

}

nav a:hover::before {
  width: 100%;

}

/* Backgrounds */
body{
background-color: #ecf1f9;
}


/* Texts */
h1, h2, h3, p{
text-align: center;
}

h1{
  
    color: rgb(240, 150, 15);
    font-family: "Garamond", serif;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight:700;
    font-size: xx-large;
    }


h3{
color:rgb(105,105,105);
font-family: "Garamond", serif;
text-align: center;
line-height: 1.5;
letter-spacing: 1px;
font-weight:700;
font-size: x-large;
}

h4{
color:#0047AB ;
font-family: "Garamond", serif;
text-align: center;
line-height: 1;
letter-spacing: 1px;
font-weight:500;
font-size: large;
}


p{
font-family: "Garamond", serif;
color:#0047AB ;
text-align: center;
font-weight:400;
font-size: medium;
}


.chart { 
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;
  background-color: White;
  border: #E0EAED solid 5px;
  border-radius: 10px;
  font-family: Inter,sans-serif;
  font-size: 10pxp;
}




.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

